@model dispatch_app.Models.Transactions.Customer

@{
    ViewData["Title"] = "Editar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">@ViewData["Title"]</h5>
        <div class="card">
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Id de Cliente</label>
                                <input asp-for="CustomerId" class="form-control" disabled/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">RNC o Cédula</label>
                                <input asp-for="VatNumber" class="form-control" disabled/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Nombre</label>
                                <input asp-for="FirstName" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Apellido</label>
                                <input asp-for="LastName" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Nombre de Empresa</label>
                                <input asp-for="Company" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Correo</label>
                                <input asp-for="Email" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">País</label>
                                <input asp-for="State" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Ciudad</label>
                                <input asp-for="City" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Teléfono</label>
                                <input asp-for="Phone" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Dirección</label>
                                <input asp-for="Address" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <button type="submit" value="Edit" class="btn btn-primary" onclick="return confirm('¿Estás seguro de que deseas actualizar el Cliente?')">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>
