@model dispatch_app.Models.User.ApplicationUser
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Eliminar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">@ViewData["Title"]</h5>
        <div class="card">
            <div class="card-body">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id"/>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Nombre de Usuario</label>
                                <input asp-for="UserName" class="form-control" autocomplete="off" disabled/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Correo</label>
                                <input asp-for="Email" class="form-control" autocomplete="off" disabled />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Nombre</label>
                                <input asp-for="FirstName" class="form-control" autocomplete="off" disabled />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Apellido</label>
                                <input asp-for="LastName" class="form-control" autocomplete="off" disabled />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Teléfono</label>
                                <input asp-for="Phone" class="form-control" autocomplete="off" disabled />
                            </div>
                        </div>
                    </div>
                    <button type="submit" value="Create" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este Usuario?')">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

