@model dispatch_app.Models.User.UpdatePasswordModel
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Actualizar Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">@ViewData["Title"]</h5>
        <div class="card">
            <div class="card-body">
                <form asp-action="EditPassword">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Contraseña Actual</label>
                                <input type="password" asp-for="LastPassword" class="form-control" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Contraseña Nueva</label>
                                <input type="password" asp-for="NewPassword" class="form-control" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Repetir Contraseña</label>
                                <input type="password" asp-for="RepeatPassword" class="form-control" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <button type="submit" value="EditPassword" class="btn btn-primary" onclick="return confirm('¿Estás seguro de que deseas actualizar la Contraseña?')">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>

